@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      sans-serif;
  }

  body {
    @apply bg-fp-offWhite text-fp-dark m-0;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-heading;
  }
}
